{% extends './base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>{{book.title}}</h1>
            <h2>ID: {{book.id}}</h2>
            <p>
                Description: {{book.descr}}
            </p>
            <p>
                Authors:
                <ul>
                    {% for author in authors_of_book %}  
                    <li>
                        {{author.first_name}} {{author.last_name}} 
                        <a href="#" data-href="/delete/{{author.id}}/{{book.id}}"
                        class="btn btn-xs btn-confirm" data-title="delete" data-bs-toggle="modal" data-bs-target="#remModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </p>
        </div>        
    </div>
    <div class="row">
        <div class="col-8">
            <form action="/add_author/{{book.id}}" method="POST" id="new_author" name="new_author">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Authors</label>
                    <select class="form-control" id="author_id" name="author_id">
                        {% for a in all_authors %}  
                        <option value="{{a.id}}">{{a.first_name}} {{a.last_name}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>        
    </div>
</div>

<div class="modal fade" id="remModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="modal-content" action ="" method="GET" name="reg_del" id="reg_del">{% csrf_token %} 
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                Esta seguro que desea eliminar este registro?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <input type="submit" class="btn btn-danger btn-eliminar" value="Eliminar">
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function() {
        myModal.addEventListener('shown.bs.modal', function () {
            myInput.focus()            
        });   
    });
    $('.btn-confirm').on('click',function(e){
        e.preventDefault();
        let target=$(this).attr('data-href');
        $('#reg_del').attr('action',target);
    });
</script>
{% endblock %}